{% extends "sharekitapp/base.html" %}
{% load share_filters %}
{% block title %}
    Delete Item - ShareKit
{% endblock %}

{% block content %}
<div class="content-section">
<form class="log-in" method="POST" enctype="multipart/form-data">
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
          {{ msg }}
        </div>
      {% endfor %}
    {% endif %}
    <h4>Delete Item:</h4>
    {% csrf_token %}
        <h5> Are you sure you want to delete the demat "{{ object.boid|decrypt_boid }}"?</h5>

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
</form>
<a href="javascript:history.back()"><button class="btn btn-secondary">Go back</button></a>
</div>
{% endblock %}