{% extends "sharekitapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Add share - ShareKit
{% endblock %}

{% block content %}
<div class="content-section">
<form class="log-in" method="POST" enctype="multipart/form-data">
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
          {{ msg }}
        </div>
      {% endfor %}
    {% endif %}
    <h4>Share Info:</h4>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Add</button>
</form>
<a href="{% url 'home' %}"><button class="btn btn-secondary">Go back</button></a>
</div>
{% endblock %}