{% extends "sharekitapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Profile - ShareKit
{% endblock %}

{% block content %}
    <div class="content-section">
    <div class="media">
    <img class="rounded-circle account-img" src="{% static user.profile.image.name %}">
    <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
    </div>
    </div>
    <form action="{% url 'profile' %}" class="log-in" method="POST" enctype="multipart/form-data">
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}">
              {{ msg }}
            </div>
          {% endfor %}
        {% endif %}
        <h4>Profile Info:</h4>
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <button type="submit">Update</button>
    </form>
    </div>
{% endblock %}