.top-nav {
    background-color: #b08bf8;
    padding-left: 5%;
    padding-right: 5%;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    padding-top: 10px;
    font-size: 2.5rem;
}